* {
    text-decoration: none;
    font-family: arial;
    margin: 0;
    padding: 0;
}

.training {
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.content {
    background-color: gray;
    width: 50%;
}

.image {
    width: 50px;
    height: 50px;
}

.right {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navigation {
    background-color:lightgray;
    padding: 20px;
}

.navigation__link {
    margin-right: 15px;
    font-size: 16px;
    color:black;
    background-color: red;
}

.navigation__link:hover {
    color:blue;
}

.hero {
    background-color: lightgray;
    text-align: center;
}

.hero__header {
    font-size: 36px;
    padding: 20px 5px 5px 5px;
}

.hero__subheader {
    font-size:24px;
    padding-bottom: 20px;
}

.testimonials {
    margin-bottom: 20px
}

.testimonials__header {
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}

.testimonials__component {
    display:flex;
    margin: 0 auto;
    width: 95%;
}

.testimonials__left-button {
    margin: auto 10px auto auto;
    border: 3px solid black;
    padding: 15px 20px;
    border-radius: 50%;
    border-color: red;
    background-color: rgb(255, 167, 167);
}

.testimonial {
    border: 3px solid green;
    background-color: rgb(201, 253, 201);
}

.testimonials__right-button {
    margin: auto auto auto 10px;
    border: 3px solid black;
    padding: 15px 20px;
    border-radius: 50%;
    border-color: red;
    background-color: rgb(255, 167, 167);
}

.testimonials__person-image {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

.testimonials__person-name {
    padding-top: 15px;
    font-size: 1.1rem;
}

.testimonials__review {
    font-size: 0.9rem;
}


@media screen and (min-width: 768px) {
   
    /************************************************************
    *************************** Shared **************************
    ************************************************************/
    
    nav {
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: Arial;
        font-size: 45px;
    }

    nav a {
        color: black;
        margin-right: 30px;
    }

   

    /************************************************************
    ************************** Home Page ************************
    ************************************************************/

    .hero {
        background-color: rgb(234, 233, 233);
    }

    .org {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .org__branding {
        font-family:Arial, Helvetica, sans-serif;
        background-color: rgb(234, 233, 233);
        width:70%;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        vertical-align: middle;
    }

    .org__branding--header {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
    }

    .org__branding--details {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 70%
    }

    .org__branding--image {
        background-color: black;
        width: 100px;
        height: 100px;
    }

    .contact a img {
        max-width: 5%;
        max-height: 5%;
    }



    /************************************************************
    ************************ Projects Page **********************
    ************************************************************/

    .projects__card {
        border: 1px solid black;
        height: 400px;
        width: 350px;
        padding: 10px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .project__image {
        width: 100%;
        height: 150px;
        background-color: gray;
        border-radius: 10px;
        font-size: 12px;
        font-family:Arial, Helvetica, sans-serif;
    }

    .project__title {
        margin: 15px 0px 10px 0px ;
        font-size: 2rem;
    }
    .project__description {
        font-size: 0.9rem;
    }

    .project__bottom {
        display: flex;
        justify-content: space-between;
    }

    .project__icons {
        display: flex;
    }

    .project__icon {
        margin-right: 5px;
        padding: 5px;
        width: 50px;
        height: 50px;
    }

    .project__button {
        border: 0;
        font-size: 1rem;
        height: 40px;
        width: 120px;
    }

}

/***********************************************************************
*************************** Home Page Mobile ***************************
***********************************************************************/
@media screen and (max-width: 768px) {
    .org__branding--header {
        display: none;
        visibility: hidden;;
    }

    .vision {
        background-image: url();
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-size-adjust: 4em;
    }

    .mission {
        background-image: url();
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-size-adjust: 4em;
    }

    .values {
        background-image: url();
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-size-adjust: 4em;
    }
}
